@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* Style page content */
.main {
  margin-left: 160px;
  padding: 0px 10px;
}
a [id="updateicon"] {
  background-color: rgba(0, 183, 255, 0.822);
 margin-left: 10px;
  padding: 10px 13px;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
}
a:hover [id="updateicon"] {
 background-color: antiquewhite;
}
/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}
}